/*
  - o Next utiliza o scoped CSS que eh a mesma ideia do styled components, ou seja, cada CSS fica dentro de um escopo especifico e 
  dessa maneira nao tem como a estilizacao de um componente interferir com a de outro
  - para utilizar o scoped CSS precisa nomear os arquivos para .module.css/.module.scss(se utilizar sass), pois dessa forma o next 
  vai usar os CSS modules
*/

/* com o CSS modules sempre precisa comecar a estilizacao com uma classe ou id */
.title {
  color: red;
  font-family: 'Roboto', sans-serif;

  span {
    color: blue;
  }
}